<html>
<head>
  <title>ff4f01-experimetns R001</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.5, maximum-scale=0.5, user-scalable=no">
  <meta name="theme-color" content="#000">
  <script language="javascript" type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.0/p5.js"></script>
  <script language="javascript" type="text/javascript" src="./static/conversion.js"></script>
  <script language="javascript" type="text/javascript" src="./static/expression.js"></script>
  <script language="javascript" type="text/javascript" src="./static/sketch.js"></script>
</head>
<style>
body{
    background-color:#000;
    text-align:center;
}
canvas{
    padding: 0;
    margin: auto;
    display: block;
    width: 800px;
    height: 600px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
img{
    position:fixed;
    right:0;
    bottom:0;
    margin:0;
    padding:0;
    width:90px;
}
</style>
<body>
    <img src="./static/assets/qrcode.png"/>
</body>
</html>
